RewriteEngine On

# ensure request is not path to filename or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# redirect all requests to index.php?url=PATHNAME
RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]